# Object files
*.o
*.pyc
__pycache__

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# CMake created objects
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
