<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{page.title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Petrona' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/onejoker/stylesheets/min.css">
    <link rel="icon" type="image/x-icon" href="/onejoker/images/oj-icon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <div class="column">
        <header>
          <div id="logo">
            <img id="h1" alt="onejoker" src="/onejoker/images/oj-header1.png"/>
            <h2>PRNG library</h2>
          </div>
          <br clear="all"/>
          <p>Pseudo-random number generation library and tools. Part of the <a href="/onejoker/index.html">OneJoker</a> project.</p>
          <ul>
          <li><a href="http://github.com/lcrocker/ojrandlib">RandLib</a> on <a href="http://github.com">GitHub</a></li>
          <li><a href="/onejoker/randlib/use.html">Using</a> RandLib</li>
          <li>CardLib <a href="/onejoker/randlib/downloads.html">downloads</a></li>
          <li>Other <a href="/onejoker/resources/index.html">resources</a></li>
          </ul>
          <p>Project maintained by <a href="http://github.com/lcrocker">Lee Daniel Crocker</a>
          <br/>Lee's blog is <a href="http://www.etceterology.com">etceterology</a>.</p>
            <img id="h2" alt="onejoker" src="/onejoker/images/oj-header2.png"/><br clear="all">
        </header>

        <footer>
          <small><a href="http://creativecommons.org/publicdomain/zero/1.0/">CC-0</a>:
          To the extent possible under law, I, Lee Daniel Crocker waive all copyright and related
          or neighboring rights to all creative works original to me.</small>
        </footer>
      </div><!--column-->

      <section>
      {{ content }}
      </section>
    </div><!--wrapper-->

    <script src="/onejoker/javascripts/scale.fix.js"></script>
  </body>
</html>
